.fa-500px {
    color: #0099e5;
}

.fa-amazon {
    color: #ff9900;
}

.fa-android {
    color: #a4c639;
}

.fa-apple {
    color: #000;
}

.fa-bitbucket, .fa-bitbucket-square {
    color: #205081;
}

.fa-bitcoin {
    color: #f79326;
}

.fa-bluetooth, .fa-bluetooth-b {
    color: #0063A9;
}

.fa-codepen {
    color: #000;
}

.fa-facebook, .fa-facebook-f, .fa-facebook-official, .fa-facebook-square {
    color: #3b5998;
}

.fa-flickr {
    color: #ff0084
}

.fa-font-awesome {
    color: #21b384;
}

.fa-git, .fa-git-square {
    color: #333;
}

.fa-github, .fa-github-alt, .fa-github-square {
    color: #333;
}

.fa-google {
    color: #4285f4;
}

.fa-google-plus {
    color: #dc4e41;
}

.fa-google-plus-square {
    color: #dc4e41;
}

.fa-instagram {
    color: #3f729b;
}

.fa-linkedin, .fa-linkedin-square {
    color: #0976b4
}

.fa-paypal {
    color: #0070ba;
}

.fa-pinterest, .fa-pinterest-square {
    color: #cb2027
}

.fa-spotify {
    color: #1ED760;
}

.fa-stack-overflow {
    color: #fe7a15
}

.fa-tumblr, .fa-tumblr-square {
    color: #35465c;
}

.fa-slack {
    color: #00bd8d;
}

.fa-twitter, .fa-twitter-square {
    color: #55acee;
}

.fa-vimeo-square {
    color: #aad450
}

.fa-vine {
    color: #00bf8f
}

.fa-wikipedia-w {
    color: #000;
}

.fa-wordpress {
    color: #21759b;
}

.fa-youtube, .fa-youtube-play, .fa-youtube-square {
    color: #cc181e;
}

.fa-envelope {
    color: #93a1a1;
}